@charset "utf-8";
/* CSS Document */
body{margin:0px;padding:0px;
background-image:url("../images/fusee.jpg");
}
header{/*clear du menu */
margin-left:30%;
border:2px solid black;
position:relative;
top:90px;
}
div.slogan{
font-family:Lobster, Arial;font-size:50px;
color:rgba(113, 84, 154, 0.82);
display:inline-block;background:rgba(128, 128, 128, 0.27);
padding:10px;border-radius:12px;
}/*il est dans le header */
nav { /* contient div menu */
display:flex;
justify-content:center;
border:2px solid red;
}
div.menu{ /*div menu*/
position:fixed;/*a ne pas supprimer !!*/
width:70%;/*a pas supprimer !!!*/
/*ajout*/
left:15%;
background-color:rgba(87, 177, 234, 0.87);/*FOND BLEU*/
color:rgba(255, 255, 255, 0.87);/*la police BLANC*/
font-family: 'Concert One', Arial;
}
/*MENU UL*/
div.menu ul{
list-style:none;
}
/*ELEMENTS MENU LI*/
div.menu ul li{;
font-size:1.9em;
border:2px solid red;
display:inline-block;
margin-right:20px;
}
/*L'ELEMENT SIMPLON DE DROITE*/
div.menu ul li:nth-child(5){ /*SIMPLON liste*/
font-family: Lobster, Arial;font-size:2.5em;
margin-bottom:5px;margin-right:10px;
position:relative;
float:right;
}
/*L'ELEMENT ON*/
div.menu ul li span{ /* LOGO ON SIMPLON */
background-color:rgba(255, 255, 255, 0.91);/*blanc*/
border-radius:5px;
color:rgba(67, 157, 67, 0.87); /*vert*/
font-style:normal;font-size:40px;
font-family: 'Concert One', Arial;
position:absolute;
top:0px;bottom:0px;right:0px;
}
article p{ color:rgb(31, 109, 31);font-size:1em;}
article h1, article h2{
font-family:'Concert One', sans-serif;    
color:rgba(58, 11, 145, 0.72);
font-size:2.5em;
}