@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Lobster';
	font-size:60px;

	}
/*    MA PARTIE  */
.container{
border:20px solid grey;  
display:flex;flex-wrap:wrap;
margin-left:175px;
margin-right:175px;
}
.fruits{
line-height:400px;text-align:center;
width:400px;height:400px;
}
.framboises{
background-image:url("../images/framboise.jpg");
background-clip:content-box;background-size:contain;
background-repeat:no-repeat:width:400px;height:400px;
}
.oranges{
background-image:url("../images/orange.jpg");
background-clip:content-box;background-size:contain;
background-repeat:no-repeat:width:400px;height:400px;
}
.kiwis{
background-image:url("../images/kiwi.jpg");
background-clip:content-box;background-size:contain;
background-repeat:no-repeat:  width:400px;height:400px;
}
.framboises{
background-image:url("../images/framboise.jpg");
background-clip:content-box;background-size:contain;
background-repeat:no-repeat:width:400px;height:400px;
}
.cerises{
background-image:url("../images/cerise.jpg");
background-clip:content-box;background-size:contain;
background-repeat:no-repeat:width:400px;height:400px;
}
.pommes{
background-image:url("../images/pomme.jpg");
background-clip:content-box;background-size:contain;
background-repeat:no-repeat:width:400px;height:400px;
}
.fraises{
background-image:url("../images/fraise.jpg");
background-clip:content-box;background-size:contain;
background-repeat:no-repeat:width:400px;height:400px;
}
.peches{
background-image:url("../images/peche.jpg");
background-clip:content-box;background-size:contain;
background-repeat:no-repeat:width:400px;height:400px;
}
.bananes{
background-image:url("../images/banane.jpg");
background-clip:content-box;background-size:contain;
background-repeat:no-repeat:width:400px;height:400px;
}
.raisins{
background-image:url("../images/raisin.jpg");
background-clip:content-box;background-size:contain;
background-repeat:no-repeat:width:400px;height:400px;
}